@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for details element */
details[open] summary .group-open\:rotate-180 {
  transform: rotate(180deg);
}

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}